@using CMS.Domain.ViewModels
@model PageCommentViewModel

@{
    ViewData["Title"] = "لیست نظرات";
}

@section script {
    <script src="~/js/site.js"></script>
}

@* <form asp-action="Index" asp-controller="PageComment" method="get" class="d-flex align-items-center mb-4"> *@
<form method="post" class="d-flex align-items-center mb-4" id="selectPageForm">
    <label class="control-label ms-3" style="white-space: nowrap;">انتخاب خبر</label>
    <select name="pageid" class="form-control select2" asp-items="ViewBag.TitleName">
        <option value="">انتخاب گروه</option>
    </select>
    <button type="button" onclick="selectPage()" class="btn btn-Light me-3" style="background-color:#12cf77"> انتخاب</button>
</form>

<div id="gridPageComment">
    <partial name="~/Areas/Admin/Views/PageComment/_gridPageComment.cshtml" />
</div>

